.cm-s-solarizedDark {
	font: 13px/1.4em Trebuchet, Verdana, sans-serif;
	background: #002b36;
	color: #839496;
}

.cm-s-solarizedDark div.CodeMirror-selected {
	background: #0000ff !important;
}

.cm-s-solarizedDark .CodeMirror-gutter {
	background: #fdf6e3;
	border-right: 7px solid #3e7087;
	min-width: 2.5em;
}

.cm-s-solarizedDark .CodeMirror-gutter-text {
	color: #586e75;
}

.cm-s-solarizedDark .CodeMirror-cursor {
	border-left: 1px solid white !important;
}

.cm-s-solarizedDark span.cm-comment {
	color: #586e75;
	font-style: italic;
}

.cm-s-solarizedDark span.cm-atom {
	color: #f4c20b;
}

.cm-s-solarizedDark span.cm-number, .cm-s-solarizedDark span.cm-attribute {
	color: #b58900;
}

.cm-s-solarizedDark span.cm-keyword {
	color: #859900;
}

.cm-s-solarizedDark span.cm-string {
	color: #2aa198;
}

.cm-s-solarizedDark span.cm-meta {
	color: #859900;
}

.cm-s-solarizedDark span.cm-variable-2, .cm-s-solarizedDark span.cm-tag {
	color: #268bd2;
}

.cm-s-solarizedDark span.cm-variable-3, .cm-s-solarizedDark span.cm-def {
	color: #268bd2;
}

.cm-s-solarizedDark span.cm-error {
	color: #af2018;
}

.cm-s-solarizedDark span.cm-bracket {
	color: #ff00ff;
}

.cm-s-solarizedDark span.cm-link {
	color: #f4c20b;
}

.cm-s-solarizedDark span.CodeMirror-matchingbracket {
	color: #ff00ff !important;
}

.cm-s-solarizedDark span.cm-builtin, .cm-s-solarizedDark span.cm-special {
	color: #cb4b16;
}